@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IRANSansX", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-spin-dot-item {
  background-color: white !important;
}
.ant-table-wrapper .ant-table-pagination.ant-pagination {
  direction: ltr;
  justify-content: center;
}
.ant-table-cell-row-hover {
  background-color: transparent !important;
}

.Toastify__toast-body {
  font-family: "IRANSansX";
}
